{% extends '@A2CRM/settings/settings.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-4">
            <div class="box">
                <div class="box-body">
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}