{% extends '@A2CRM/settings/settings.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-4">
            <div class="box">
                <table class="box-body table table-striped">
                    {% for entity in entityList %}
                        <tr>
                            <td>
                                <div class="btn-group btn-group-xs">
                                    <a href="{{ path('crm_settings_entity_edit', {'entityName': entity|urlize }) }}"
                                       class="btn btn-primary"
                                    ><i class="glyphicon glyphicon-pencil"></i>
                                    </a>
                                </div>
                            </td>
                            <td>
                                <a href="{{ path('crm_settings_entity_field_list', {'entityName': entity|urlize}) }}">
                                    <b>{{ entity }}</b>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <a href="{{ path('crm_settings_entity_edit') }}"
                               class="btn btn-success btn-xs"
                            >Create new entity</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}