<table class="table table-hover table-bordered table-stiped table-sm table-striped table-condensed">
    <tbody>
    <tr>
        <td>
            <b class="text-muted"><i class="glyphicon glyphicon-info-sign"></i>{% trans %}List is empty{% trans %}</b>
        </td>
    </tr>
    </tbody>
</table>