            <td>
                <div class="btn-group btn-group-xs">
                    <a href="#" class="btn btn-default"><i class="glyphicon glyphicon-remove"></i></a>
                    <a href="{{ path('a2crm_object_edit', {'objectName': objectName, 'objectId': object.id }) }}"
                       class="btn btn-default"><i class="glyphicon glyphicon-pencil"></i></a>
                </div>
            </td>