<table class="table table-hover table-stiped table-sm">
    <thead>
    {% if dataGrid.rowActionsTemplateName() %}
        <th>&nbsp;</th>
    {% endif %}
    {% for field in dataGrid.fields %}
        <th>{{ field.title }}</th>
    {% endfor %}
    </thead>
    <tbody>
    {% for item in dataGrid.data %}
        <tr>
            {% if dataGrid.rowActionsTemplateName() %}
                {% include dataGrid.rowActionsTemplateName(objectName) with {'object': item, 'objectName': objectName} %}
            {% endif %}
            {% for fieldNameCamelCase, field in dataGrid.fields %}
                <td>
                    {{ item[fieldNameCamelCase] }}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>