{% extends '@A2CRM/layout.html.twig' %}

{% block content_title %}
    {{ entity.name }} form
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-sm-5">
            {% include '@A2CRM/object/object.form.horizontal.html.twig' with {'form': form} %}
        </div>
    </div>

{% endblock %}