{% extends '@A2CRM/layout.html.twig' %}

{% block content %}

    <a href="{{ path('crm_object_edit', {'objectName': objectName})}}" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> Create new {{ entity.name }}</a>
    <br><br>

    {% include '@A2CRM/datagrid/datagrid.html.twig' %}

{% endblock %}