<div class="btn-group btn-group-xs">
    <a href="{{ path('crm_object_edit', {'objectName': datasheet.entity.name|toSnakeCase, 'objectId': item.id}) }}" class="btn btn-default">
        <i class="glyphicon glyphicon-pencil"></i>
    </a>
</div>
