{% extends '@A2CRM/layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-2">
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        {% for field in fields %}
                            <th>{{ field.name }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in data %}
                        <tr>
                            {% for value in item %}
                                <td>
                                    {{ value }}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}