{% extends '@A2CRM/layout.html.twig' %}

{% block content %}
    <div class="box">
        <div class="box-body table-responsive no-padding">
            {{ datasheet(datasheet) }}
        </div>
        <div class="box-footer">
            {{ pagination(datasheet) }}
        </div>
    </div>

{% endblock %}