{% extends '@A2CRM/layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-4">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for field in fields %}
                        <tr>
                            <td>{{ field.name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}