{% extends '@A2CRM/layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-sm-4">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td><a href="{{ path('a2crm_entity_field_list', {'entity': entity.id}) }}">{{ entity.name }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}