<script src="{{ asset('bundles/a2crm/a2crm/adminlte.js') }}"></script>
<script>
    $(function () {

        $('input[data-date-mask]').on('keyup', (function (e) {
            code = e.keyCode || e.which;
            if (code == 8) {
                return;
            }
            var v = this.value;
            if (v.match(/^\d{2}$/) !== null) {
                this.value = v + '/';
            } else if (v.match(/^\d{2}\/\d{2}$/) !== null) {
                this.value = v + '/';
            }
        }));

        let datasheetFilterOptions = $('#datasheet-filter-options');

        $('[data-datasheet-filter]').off('focus').on('focus', function(){
            datasheetFilterShowOptions($(this));
        }).on('blur', function(){
            // datasheetFilterHideOptions($(this));
        }).on('keyup', function(){
            console.log('changed');
        })

        function datasheetFilterShowOptions(filterInput){
            console.log('show filter options');
            datasheetFilterOptions.html('').show().appendTo(filterInput.parent());
            let datasheetId = filterInput.parents('table').data('datasheet-id');
            let fieldName = filterInput.data('datasheet-filter');
            let varName = 'datasheet' + datasheetId + fieldName + 'FilterOptions';
            let options = eval(varName);

            $.each(options, function(kee, value){
                datasheetFilterOptions.append('<div>' + value + '</div>');
            })
        }

        function datasheetFilterHideOptions(){
            console.log('hide filter options');
            datasheetFilterOptions.html('').hide();
        }

        datasheetFilterOptions.on('click', function(event){
            console.log('filter option clicked');
            let value = $(event.target).text();
            $(this).prev().val(value);
            datasheetFilterHideOptions();
        })
    })
</script>