<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Manager homepage</title>
    <link rel="stylesheet" href="{{ asset('bundles/a2crm/a2crm/adminlte.css') }}">

    <style>
        .content-wrapper {
            overflow: auto;
        }

        .content {
        }

        .content-lg {
            width: 1000px;
            padding: 20px;
        }

        * {
            font-size: 10pt;
        }

        .logo * {
            font-size: 17pt;
        }
    </style>
</head>
<body class="skin-blue skin-blue fixed">
<div class="wrapper">

    <header class="main-header">
        <a href="/admin" class="logo">
            <span class="logo-mini">
                            </span>
            <span class="logo-lg">
               <b>A2</b>CRM</span>
        </a>

        <nav class="navbar navbar-static-top" role="navigation">
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
        </nav>
    </header>

    <aside class="main-sidebar">
        <section class="sidebar">
            <ul class="sidebar-menu tree" data-widget="tree">
                <li class="header">CRM</li>
                <li><a href="{{ path('crm_admin_entity_list') }}">Entities</a></li>
            </ul>
        </section>
    </aside>

    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                {% block page_title %}{% endblock %} <small></small>
            </h1>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-md-12 col-lg-9">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </section>
    </div>

    <footer class="main-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
            A2CRM
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2020.</strong>
    </footer>

</div>

{% block javascript %}
{% include '@A2CRM/etc/javascripts.html.twig' %}
{% endblock %}

</body>
</html>