<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Manager homepage</title>
    <link rel="stylesheet" href="{{ asset('bundles/a2crm/a2crm/adminlte.css') }}">

    <style>
        .content-wrapper {
            overflow: auto;
        }

        .content {
        }

        .content-lg {
            width: 1000px;
            padding: 20px;
        }

        * {
            font-size: 10pt;
        }

        .logo * {
            font-size: 17pt;
        }
    </style>
</head>
<body class="skin-blue skin-blue fixed">
<div class="wrapper">

    <header class="main-header">
        <a href="/admin" class="logo">
            <span class="logo-mini">
                            </span>
            <span class="logo-lg">
               <b>A2</b>CRM</span>
        </a>

        <nav class="navbar navbar-static-top" role="navigation">
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
        </nav>
    </header>

    <aside class="main-sidebar">
        <section class="sidebar">
            <ul class="sidebar-menu tree" data-widget="tree">
                {% block menu %}
                    {{ crm_menu() }}
                {% endblock %}
            </ul>
        </section>
    </aside>

    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                {% block page_title %}{% endblock %} <small></small>
            </h1>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-md-12 col-lg-11">

                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-{{ label }}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}

                    {% block content %}{% endblock %}
                </div>
            </div>
        </section>
    </div>

    <footer class="main-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
            A2CRM
        </div>
        <!-- Default to the left -->
        <strong>Copyright &copy; 2020.</strong>
    </footer>

</div>

<div id="datasheet-filter-options" hidden>Options</div>
<style>
    [data-datasheet-filter]{
        padding:0 10px;
        border-radius:3px;
        border:1px #eaeaea solid;
        color:#cc5500;
        height:25px;
        line-height:25px;
    }
    [data-datasheet-filter-clear]{
        position:absolute;
        right:6px;
        top:6px;
        background:#cc5500;
        color:#ffffff;
        width:30px;
        height:23px;
        line-height:23px;
        border-radius:2px;
        text-align:center;
    }
    #datasheet-filter-options{
        position:absolute;
        left:0;
        top:100%;
        right:0;
        z-index:9;
        background:#fff3ea;
        border:1px #ffffff solid;
        border-top:0;
        min-height:40px;
        max-height:200px;
        overflow-y:scroll;
    }
    #datasheet-filter-options *{
        height:30px;
        line-height:30px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        border-bottom:1px #ffffff solid;
        padding:0 10px;
    }
    #datasheet-filter-options *:hover,
    #datasheet-filter-options *.active{
        background:#0d6aad;
        color:#ffffff;
    }
    #datasheet-filter-options *:last-child{
        border:0;
    }
</style>
{% block javascript %}
{% include '@A2CRM/etc/javascripts.html.twig' %}
{% endblock %}

</body>
</html>