<html>
<head>
    <title>A2CRM</title>
</head>
<body leftmargin="100" topmargin="100">

    <h1>Welcome to A2 CRM!</h1>

    {% block content %}
        Hello, this is content block
    {% endblock %}

</body>
</html>